/* hero section card */
.hero {
    background-image: url('/images/sch-post1.jpg');
    background-color: rgba(0, 0, 0, 0.699);
    opacity: 8px;
    border: none;
    height: 100;
    margin-bottom: 2rem;
}

.nav-tabs {
    background-color: rgba(0, 0, 0, 0.281);
    opacity: 8px;
}
/* end hero section card */

/* easy assets start */
.card-boader {
    margin: 15px;
}
/* end easy assets start */

/* ads section */
.ads-componets {
    margin: 2.5rem;
}

.ads {
    border: none;
}
/* end ads section */

/* ads section */
.card-componets {
    margin: 2.5rem;
}

.card-componets h2 {
    margin: 2.5rem;
}
/* end ads section */

/* footer section */
.footer-container {
    width: 100%;
}

.list-group .list-item {
    list-style-type: none;
    padding: 12px;
}

.footer-items {
    margin-top: 1rem;
    padding: 15px;
}

.mb-2 a{
    text-decoration: none;
    color: #333;
}

.bi-icons,
.bi {
 color: #333;
 padding: 15px;
}
/* end footer section */
